<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<array>
		<string>2017-12-30</string>
		<string>2017-12-31</string>
		<string>2018-1-1</string>
		<string>2018-2-15</string>
		<string>2018-2-16</string>
		<string>2018-2-17</string>
		<string>2018-2-18</string>
		<string>2018-2-19</string>
		<string>2018-2-20</string>
		<string>2018-2-21</string>
		<string>2018-4-5</string>
		<string>2018-4-6</string>
		<string>2018-4-7</string>
		<string>2018-4-29</string>
		<string>2018-4-30</string>
		<string>2018-5-1</string>
		<string>2018-6-18</string>
		<string>2018-6-19</string>
		<string>2018-6-20</string>
		<string>2018-9-24</string>
		<string>2018-9-25</string>
		<string>2018-9-26</string>
		<string>2018-10-1</string>
		<string>2018-10-2</string>
		<string>2018-10-3</string>
		<string>2018-10-4</string>
		<string>2018-10-5</string>
		<string>2018-10-6</string>
		<string>2018-10-7</string>
		<string></string>
	</array>
	<key>2</key>
	<array>
		<string>2018-2-11</string>
		<string>2018-2-24</string>
		<string>2018-4-8</string>
		<string>2018-4-28</string>
		<string>2018-9-29</string>
		<string>2018-9-30</string>
	</array>
</dict>
</plist>
